.searchBox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;


    img{
        width: 80%;
        height: 400px;
        @media (max-width: 800px) {
           height: 220px;
           width: 100%;
        }

    }

    input{
        width: 400px;
        height: 60px;
        border: none;
        background-color: rgba(255,255,255,0.75);
        @media (max-width: 800px) {
            width: 225px;
            height: 43px;
        }
    }

    &__934{
        position: absolute;

        h2{
            font-size: 75px;
            font-family: cursive;
            @media (max-width: 800px) {
                font-size: 25px;
            }
        }
      
    }
    &__123{
        width: 30px !important;
        height: 30px !important;
        background-color:transparent;
      
    }

    &__box{
        display: flex;
        align-items: center;

        div{
            width: 60px;
            height: 61px;
            background-color: rgba(255,255,255,0.75);
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 800px) {
                width: 60px !important;
                height: 43px !important;
            }
        }
    }
}